.nav-link {
  position: relative;

  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;

    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, .0);
    transform: translate(-50%);

    transition: .2s;
  }

  &:hover {
    color: #fff;
    text-decoration: none;

    &::after {
      background-color: rgba(255, 255, 255, .5);

      @media (max-width: $lg) {
        background-color: rgba(255, 255, 255, .0);
      }
    }
  }

  &.nav-link--current {
    font-weight: 700;

    @media (max-width: $lg) {
      font-weight: 500;
    }

    &::after {
      background-color: rgba(255, 255, 255, .5);

      @media (max-width: $lg) {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }

  &--violet {
    color: $c-violet;


    &::after {
      background-color: rgba($c-violet, .0);
    }

    &:hover {
      color: $c-violet;

      &::after {
        background-color: rgba($c-violet, .5);
      }
    }

    &.nav-link--current {
      &::after {
        background-color: rgba($c-violet, .5);

        @media (max-width: $lg) {
          background-color: rgba($c-violet, 0);
        }
      }
    }

    &.nav-link--active {
      font-weight: 700;
      &::after {
        background-color: rgba($c-violet, .5) !important;
      }
    }
  }
}
