.not-found {
  padding: 30px 20px 70px;

  @media (max-width: $md) {
    padding: 16px 16px 30px;
  }
}

.not-found__p {
  max-width: 900px;
}

.not-found__form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: 0 -15px;
  max-width: 850px;

  @media (max-width: $md) {
    flex-direction: column;
  }

  @media (max-width: $md) {
    padding-top: 5px;
  }
}

.not-found__form-group {
  width: calc(50% - 30px);
  margin: 0 15px 18px;

  @media (max-width: $md) {
    max-width: 100%;
    width: auto;
  }

  &--wrap-btn {
    padding-top: 40px;

    @media (max-width: $md) {
      padding-top: 10px;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.not-found__btn {
  max-width: 252px;
  height: 50px;

  @media (max-width: $xl) {
    align-self: center;
    max-width: 280px;
  }
}
