.page-404 {
  padding: 50px 42px;

  @media (max-width: $md) {
    padding: 30px 16px 50px;
  }
}

.page-404__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  text-align: center;

  @media (max-width: $md) {
    height: 120px;
  }
}
