.side-box {
  padding: 0 22px 22px;
  overflow: hidden;

  background-color: rgba($c-green, .06);
  border-radius: 10px;

  & > *:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $md) {
    padding: 0 19px 22px;
  }
}

.side-box__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  margin: 0 -22px 21px;
  padding: 12px 15px;

  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;

  background-color: $c-green;

  @media (max-width: $lg) {
    br {
      display: none;
    }
  }

  &--low {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.side-box__list {
  margin-bottom: 14px;
}

.side-box__p {
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 1.72;
}

.side-box__reviews {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.side-box__companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.side-box__companies-img:not(:last-child) {
  margin-bottom: 22px;
}

.side-box__wrap-money-back {
  max-width: 343px;
  margin: 0 auto 29px;

  @media (max-width: $xl) {
    margin-bottom: 20px;
  }
}

.side-box__money-back {
  max-height: 89px;
  padding-bottom: 26%;

  background: url(../images/ui/flag-2.svg) center center no-repeat;
  background-size: 100%;
}

.side-box__providers-list {
  margin: 0 -7px 0;

  @media (max-width: $lg) {
    column-count: 2;
    column-gap: 20px;
  }

  @media (max-width: $sm) {
    column-count: 1;
  }
}

.side-box__providers-item {
  position: relative;

  padding-left: 32px;

  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;

    width: 24px;
    height: 24px;

    background: url(../images/icon/file.svg) center center no-repeat;
    background-size: 100%;
  }
}
