.form-group {
  display: flex;
  flex-direction: column;

  &--row {
    flex-direction: row;

    @media (max-width: $xl) {
      flex-direction: column;
    }
  }

  &--readonly {
    flex-direction: row;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }
}
