// //////////////////////////////////////// font-family
$ff-main: "GothamPro", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 16px;
$lh-main: 1.875;

// //////////////////////////////////////// colors
$c-main: #0b1129;
$c-violet: #8372e8;
$c-violet-light: rgba($c-violet, .1);
$c-green: #39929e;
$c-orange: #eda85a;
$c-orange-light: rgba($c-orange, .1);
$c-gray: #f7f7f9;
$c-gray-dark: #e6e8eb;

// background-color: transparentize($c-violet, .9);
// background-color: rgba($c-violet, .1);

// //////////////////////////////////////// percent in pixel
$w-cs: 100% / 1580px; //width content + sidebar
$w-c: 100% / 1180px; // width content

// //////////////////////////////////////// breakpoints
$xsl: 1639.98px;
$sl: 1439.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xs: 425.98px;
$ss: 359.98px;

// //////////////////////////////////////// col width
$c12: 100%;
$c11: 91.666667%;
$c10: 83.333333%;
$c9: 75%;
$c8: 66.666667%;
$c7: 58.333333%;
$c6: 50%;
$c5: 41.666667%;
$c4: 33.333333%;
$c3: 25%;
$c2: 16.666667%;
$c1: 8.333333%;
// width: calc(#{$c4} - 20px); - example
