.slider-btn-prev,
.slider-btn-next {
  svg {
    width: 100%;
    height: 100%;

    fill: $c-violet;
  }

  &.swiper-button-disabled {
    svg {
      fill: $c-main;
    }
  }
}

.slider-btn-next {
  svg {
    transform: rotate(180deg);
  }
}
