.swiper-button-prev,
.swiper-button-next {
  width: 34px;
  height: 34px;

  &::after {
    content: "";
  }

  svg {
    width: 100%;
    height: 100%;

    fill: $c-violet;
  }

  &.swiper-button-disabled {
    opacity: 1;

    svg {
      fill: $c-main;
    }
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
  svg {
    transform: scale(-1, 1);
  }
}
