.swiper-pagination {
  width: 100%;

  .swiper-pagination-bullet {
    // width: 8px !important;
    // height: 8px !important;
    margin: 0 5px !important;

    background-color: $c-gray-dark;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $c-violet;
    }
  }
}
