.swiper-pagination {
  .swiper-pagination-bullet {
    margin: 0 5px !important;

    background-color: $c-gray-dark;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $c-violet;
    }
  }
}
