.title {
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  @media (max-width: $md) {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 1.29;
  }

  &--orange {
    color: $c-orange;
  }
}
