.header {
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (max-width: $md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo-link {
  flex-shrink: 0;
  margin-right: 8.5%;

  @media (max-width: $md) {
    margin-right: 6%;
  }
}

.header__logo {
  width: 134px;
  height: 56px;

  @media (max-width: $md) {
    width: 84px;
  }
}

.header__search-form {
  flex-basis: 781px;
  margin-right: auto;
}

.header__user-nav {
  margin-left: 40px;
}

.header__bottom {
  padding-top: 32px;
  padding-bottom: 35px;

  background-color: $c-violet;

  @media (max-width: $lg) {
    padding-top: 16px;
    padding-bottom: 14px;
  }
}

.header__nav {
  @media (max-width: $lg) {
    display: none;
  }
}

.header__box-hamburger-cart {
  display: none;

  @media (max-width: $lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__hamburger {
  @extend .btn-reset;

  width: 25px;
  height: 18px;
}

.header__cart {
  width: 25px;
  height: 25px;
}

.header__icon {
  width: 100%;
  height: 100%;

  fill: #fff;
}

.header__u-nav {
  background-color: $c-violet-light;
}
